<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <title>Carrinho</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <article class="carrinho">
                <section class="listaProdutos">
                    <h2 class="tituloCarrinho">Carrinho de Compras</h2>
                    <ul class="produtosCarrinho">
                        <div class="produto1">
                            <% for(let i=0; i < cart.length ;i++){ %>
                                <li class="infoProduto"><img src="<%= cart[i].img %>"
                                        alt="foto cerveja <%= cart[i].nome %>">
                                    <div class="descPreco">
                                        <p>Cerveja <%= cart[i].nome %> garrafa <%= cart[i].tamanho %>ml</p>
                                        <p>R$ <%= cart[i].preco %>,00</p>
                                    </div>
                                </li>
                                <%}%>
                    </ul>
                </section>
                <section class="totalCarrinho">
                    <h2>Total</h2>
                    <p id="preco">R$ <%= totalPrice %>,00</p>
                    <div class="botoes">
                        <a href="/home"><button>Continuar Comprando</button></a>
                        <a href="/shop/compra"><button>Finalizar Compra</button></a>
                        <form action="/shop/carrinho/esvasiar" method="post">
                            <button>Esvaziar</button>
                        </form>
                    </div>
                </section>
            </article>

        </main>
        <%- include('./partials/footer') %>
</body>

</html>