<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
</head>

<body>

    <%- include('./partials/header') %>


    <div class="principal"> 
        <div class="retorno"> <span><a href="/home">← Página Inicial</a></span> <span> < perfil</span>  </div>
        <div class = form-header>
            <h1 class = "title">Editar Cadastro</h1>
            <h2 class="title2">Dados Pessoais</h2>
        </div>
        
        <div class="inicioform">
            <form action="/user/editar/<%=usuario.id%>?_method=PUT" method="POST" id="registerForm">
                <div class = "input-group">

                    <div class = "inputs">
                        <label for="nome">Nome Completo</label>
                        <input id ="nome" type="text" 
                        name="nome" value="<%= usuario.name %>" placeholder="Digite seu nome completo" >
                    </div>

                    <div class = "inputs">
                        <label for="email">E-mail</label>
                        <input id ="Email" type="email" 
                        name="email" placeholder="Digite seu e-mail" value="<%= email %>">
                    </div>

                    <div class = "inputs">
                        <label for="cpf">CPF</label>
                        <input id ="cpf" type="text" 
                        name="cpf" placeholder="Digite o seu CPF" value="<%= usuario.cpf %>">
                    </div>

                    <div class = "inputs">
                        <label for="data">Data de Nascimento</label>
                        <input id ="data" type="date" 
                        name="data" placeholder="Digite a sua data de nascimento" value="<%= usuario.dna %>">
                    </div>

                    <div class = "inputs">
                        <label for="tele">Telefone (apenas números)</label>
                        <input id ="tele" type="tel" 
                        name="tele" placeholder="Ex: (21)12345-6789" pattern="[0-9]+" value="<%= usuario.phone %>">
                    </div>

                    <div class = "inputs">
                        <label for="endereco">Endereço</label>
                        <input id ="endereco" type="text" 
                        name="endereco" placeholder="Digite seu endereço" value="<%= usuario.add %>">
                    </div>    

                    <div class = "inputs">
                        <label for="cidade">Cidade</label>
                        <input id ="cidade" type="text" 
                        name="cidade" placeholder="Ex: Brasília" value="<%= usuario.city %>">
                    </div>
                    
                    <div class = "inputs">
                        <label for="cep">CEP (apenas números)</label>
                        <input id ="cep" type="text" 
                        name="cep" placeholder="Ex: 12345-678" pattern="[0-9]+" value="<%= usuario.zip %>">
                    </div>    

                    <div class = "inputs">
                        <label for="senha">Senha</label>
                        <input id ="senha" type="password" 
                        name="senha" placeholder="Crie nova senha">
                    </div>    
                </div>
                <button type="submit" form="registerForm" class="avancar-boton">Avançar</button>
            </form>
        </div>
            
    </div>

	<%- include('./partials/footer') %>
    
</body>

</html>