<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>Dev's Beer</title>
</head>
<body>

<%- include('./partials/header') %>

    <main>
		<div class="banner1">
			<img src="./imagens/banner 01.png">
		</div>
		<div class="primeiralinha">
			<article class="produtos">
				<% for(let i=0; i < 3;i++){ %>
				<section class="card">
					<div class="produtoIMG">
						<img src="<%= cerva[i].img %>" alt="garrafa de cerveja">
					</div>
					<div class="infoProd">
						<p class="nomeC"><%= cerva[i].name %></p>
						<p>Preço: R$<%= cerva[i].price %></p>
						<a href= <%= `/shop/${cerva[i].id}` %> ><button>Adicionar</button></a>
					</div>
				</section>
				<%}%>
			</article>
		</div>
		<div class="Promo">
			<img src="./imagens/banner 02.png">
            <p>PROMOÇÃO</p>
		</div>
		<article class="produtos">
			<% for(let i=3; i < cerva.length ;i++){ %>
			<section class="card">
				<div class="produtoIMG">
					<img src="<%= cerva[i].img %>" alt="garrafa de cerveja">
				</div>
				<div class="infoProd">
					<p class="nomeC"><%= cerva[i].name %></p>
					<p>Preço: R$<%= cerva[i].price %></p>
					<button>Adicionar</button>
				</div>
			</section>
			<%}%>
		</article>
	</main>

	<%- include('./partials/footer') %>

</body>
</html>