<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="retornoDePaginas">
            <a href="/home">← Página Inicial</a><span> < Produto </span>
        </div>
        <article class="imagemProdutoPreco">
            <figure>
                <img src="<%= product.img %>" alt="Imagem Cerveja <%= product.nome %>">
            </figure>
            <section class="qtdContainer">
                <h1 id="titulo"><%= product.nome %></h1>
                <h3>R$ <%= product.preco %>,00</h3>
                <div class="botaoQtdEadicionar"><p>Qntd:</p>
                            <form action="/shop/comprar/<%= product.id %>" method="post">
                                <input class="numberQuantity" type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                                <button>Adicionar</button>
                            </form>
                </div> 
            </section>
        </article>
        <section class="textoDescricaoProduto">
            <h2>Descrição Geral</h2>
            <p class="upr-case bold"><%= product.nome %></p>
            <p><span class="bold">GARRAFA:</span> <%= product.tamanho %>ml</p>
            <p><span class="bold">MARCA:</span> <%= product.marca %></p>
            <p><span class="bold">INGREDIENTES:</span> Cerveja, água, mel e leveduras.</p>
            <p><span class="bold">ALERGÊNICOS:</span> Contém trigo, cevada e glúten.</p>
            <p><%= product.descri %></p>
        </section>
    </main>
	<%- include('./partials/footer') %>
</body>

</html>