<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/usuario.css">
    <title>Dev's Beer</title>
</head>
<body>
    <%- include('./partials/header') %>

    <div class="retorno"> <span><a href="/home">← Página Inicial</a></span> <span> < perfil</span>  </div>
    <h1>Dados Pessoais</h1>
    <div id="container1">
    <div class="infosContainer">
        <div><b>Nome Completo</b><p><%= userData.name %></p></div> 
        <div><b>CPF</b><p><%= userData.cpf %></p></div>
        <div><b>Data de Nascimento</b><p><%= userData.dna %></p></div> 
        <div><b>Telefone</b><p><%= userData.phone %></p></div>
        <div><b>Endereço</b><p><%= userData.add %></p></div>
        <div><b>Cidade</b><p><%= userData.city %></p></div>
        <div><b>CEP</b><p><%= userData.zip %></p></div>
    </div>  
    <div id="boton">
        <button>Editar Meus Dados</button>
        <form action="/user/deletar/<%= userData.id%>?_method=DELETE" method="post">
            <button>Excluir Minha Conta</button>
        </form>
    </div>
</div>

<%- include('./partials/footer') %>


</body>
</html>